<section class="login-head">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-3 logo">
        <a href="javascript:void(0)" routerLink="/">NeoSTORE</a>
      </div>
      <div class="col-auto">
        <nav class="main-nav">
          <ul class="nav">
            <li class="active">
              <a href="#">Home</a>
            </li>
            <li>
              <a href="#">Furniture</a>
            </li>
            <li>
              <a href="#">Home Decor</a>
            </li>
            <li>
              <a href="#">Blog</a>
            </li>
            <li>
              <a href="#">Sale</a>
            </li>
            <li>
              <a href="#">More</a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="col-auto ml-auto">
        <div class="d-flex align-items-center">
          <div class="search-container d-flex align-items-center justify-content-end">
            <i class="icon-search"></i>
            <input type="text" class="form-control" placeholder="Search..." />
          </div>
          <div class="header-icons pl-3">
            <ul class="list-unstyled d-flex align-items-center m-0">
              <li>
                <button mat-icon-button mat-button [matMenuTriggerFor]="menu">
                  <mat-icon class="icon-profile"></mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                  <button mat-menu-item>My Account</button>
                  <button mat-menu-item (click)="logout()">Sign Out</button>
                </mat-menu>
              </li>
              <li>
                <a href="#">
                  <i class="icon-wishlist"></i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="icon-cart"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
