<div class="order-summary-box">
  <div class="coupon-sec">
    <h3>Apply coupon</h3>
    <div class="coupon-box">
      <h4 class="d-flex align-items-center justify-content-between">
        <span>Apply Coupon</span>
        <a href="">View Coupon</a>
      </h4>
    </div>
    <h3 class="mt-3 pt-1">Price Detail</h3>
    <div class="coupon-box">
      <h4 class="d-flex align-items-center justify-content-between detail">
        <span>Total Price</span>
        <span href="">&#8377;{{totalPrice}}</span>
      </h4>
      <h4 class="d-flex align-items-center justify-content-between detail">
        <span>Discount on Price</span>
        <span href="">-&#8377;{{saving}}</span>
      </h4>
      <h4 class="d-flex align-items-center justify-content-between detail">
        <span>Coupon</span>
        <a href="">Apply Coupon</a>
      </h4>
      <h4 class="d-flex align-items-center justify-content-between detail">
        <span>Shipping Charges</span>
        <span href="">&#8377;{{shipping}}</span>
      </h4>
    </div>
    <div class="total-box d-flex align-items-center justify-content-between">
      <h2>Total</h2>
      <h2>&#8377;{{totalPrice}}</h2>
    </div>
    <app-custom-button btnClasses="btn btn-primary w-100 mt-3" btnTitle="Checkout" *ngIf="visible"></app-custom-button>
    <app-custom-button btnClasses="btn btn-outline-primary w-100 mt-3" btnTitle="Continue Shopping"></app-custom-button>
  </div>
</div>
