<footer class="footer">
  <div class="container">
    <div class="row new-margin">
      <div class="col-5 new-padding">
        <div class="logo mb-5">
          <a href="javascript:void(0)" routerLink="/">NeoSTORE</a>
        </div>
        <form>
          <mat-form-field appearance="fill">
            <!-- <mat-label>Your email address</mat-label> -->
            <input matInput placeholder="Your email address">
            <i matPrefix class="icon-mail-icon"></i>
            <button mat-button type="submit" class="btn btn-primary">subscribe</button>
          </mat-form-field>
        </form>
        <div class="contact-info mt-4">
          <div class="foot-text">
            <span>Contact Info</span>
          </div>
          <address class="foot-text mt-3">
            <span>+91 12345 67890 | +91 12345 67890</span>
            <span>17 Princess Road, London, Greater London NW1 8JR, UK</span>
          </address>
          <div class="social-icons mt-4">
            <a href="#">
              <i class="icon-fb"></i>
            </a>
            <a href="#">
              <i class="icon-instagram"></i>
            </a>
            <a href="#">
              <i class="icon-twitter"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col new-padding">
        <h6 class="foot-head">
          Catagories
        </h6>
        <ul class="list-unstyled foot-text">
          <li>
            <a href="#">
              <span>Popular</span>
            </a>
          </li>
          <li>
            <a href="#">
              <span>Chair</span>
            </a>
          </li>
          <li>
            <a href="#">
              <span>Table</span>
            </a>
          </li>
          <li>
            <a href="#">
              <span>Sofa</span>
            </a>
          </li>
          <li>
            <a href="#">
              <span>Cupboard</span>
            </a>
          </li>
          <li>
            <a href="#">
              <span>Lamp</span>
            </a>
          </li>
        </ul>
      </div>
      <div class="col-2 new-padding">
        <h6 class="foot-head">
          CUSTOMER SERVICE
        </h6>
        <ul class="list-unstyled foot-text">
          <li>
            <a href="#">
              <span>My Account</span>
            </a>
          </li>
          <li>
            <a href="#">
              <span>Discount</span>
            </a>
          </li>
          <li>
            <a href="#">
              <span>Returns</span>
            </a>
          </li>
          <li>
            <a href="#">
              <span>Orders History</span>
            </a>
          </li>
          <li>
            <a href="#">
              <span>Order Tracking</span>
            </a>
          </li>
        </ul>
      </div>
      <div class="col-auto new-padding">
        <h6 class="foot-head">
          Furniture
        </h6>
        <ul class="list-unstyled foot-text">
          <li>
            <a href="#">
              <span>Living Room Furniture</span>
            </a>
          </li>
          <li>
            <a href="#">
              <span>Bar Furniture</span>
            </a>
          </li>
          <li>
            <a href="#">
              <span>Bedroom Furniture</span>
            </a>
          </li>
          <li>
            <a href="#">
              <span>Kids Furniture</span>
            </a>
          </li>
          <li>
            <a href="#">
              <span>Accent Furniture</span>
            </a>
          </li>
          <li>
            <a href="#">
              <span>Book Shelves</span>
            </a>
          </li>
        </ul>
      </div>
      <div class="col new-padding">
        <h6 class="foot-head">
          USEFUL LINKS
        </h6>
        <ul class="list-unstyled foot-text">
          <li>
            <a href="#">
              <span>Promotions</span>
            </a>
          </li>
          <li>
            <a href="#">
              <span>Sitemap</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
<div class="copyright">
  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col-12">
        <p>©Neostore - All Rights Reserved</p>
      </div>
    </div>
  </div>
</div>
