<div mat-dialog-content class="d-flex align-items-center justify-content-center text-center">
	<div class="remove-content">
		<div class="remove-img">
			<img src="../../../../../assets/images/cart-remove.jpg" alt="">
		</div>
		<h4>Remove from cart?</h4>
		<h4>You can save product to your wishlist to use later.</h4>
	</div>
</div>

<div class="close-btn p-0">
	<button mat-button mat-dialog-close>
	    <i class="icon-close"></i>
	</button>
</div>

<div mat-dialog-actions class="d-flex align-items-center justify-content-center">
	<app-custom-button btnClasses="btn btn-light" btnTitle="Remove"></app-custom-button>
	<app-custom-button btnClasses="btn btn-primary ml-4" btnTitle="Move to wishlist"></app-custom-button>
</div>