.btn {
  font-family: $font-family;
  font-weight: 500;
  color: var(--white);
  padding: 0.47rem 0.8rem;
  font-size: 1rem;
  border-radius: 3.73px;
  text-align: center;
  border: 1px solid;
  transition: all 0.6s ease;
  &.btn-primary {
    background: var(--primary);
    border-color: var(--primary);
    color: var(--white);
    border-radius: 2px;

    &:hover {
      background: var(--primary-hover) !important;
      border-color: var(--primary-hover) !important;

    }

    &:active {
      background-color: var(--primary) !important;
      border-color: var(--primary) !important;

      &:focus {
        box-shadow: none;
      }
    }

    &:focus {
      background-color: var(--primary) !important;
      border-color: var(--primary) !important;
    }

  }

  &.btn-icon {
    color: var(--black);
    border: 0;
    padding: 0;
    font-size: 2rem;
    transition: all 0.3s linear;
    transform: translateX(0);

    &:hover {
      transform: translateX(20%);
    }
  }

  &.btn-counter{
    background: var(--grey4);
    border-color: var(--grey4);
    padding: 0;
    color: var(--white);
    border-radius: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 47px;
    height: 40px;
  }
  &.btn-inc{
    border: 0.5px solid var(--grey4);
    width: 20px;
    height:20px;
    padding: 0;
    background: var(--white);
    font-size: 6px;
    color: var(--dark);
    border-radius: 0;
    &:focus {
      box-shadow: none;
    }
  }
  &.btn-outline-primary{
    border: 1px solid var(--primary);
    background: transparent;
    color: var(--primary);
    border-radius: 2px;
    &:hover{
      background: var(--primary);
      color: var(--white);
    }
  }
  &.transparent-btn{
    border: 0;
    background: transparent;
    color: var(--red);
    span{
      &.btn-title{
        margin-left: 10px;
      }
    }
    &:focus {
        box-shadow: none;
      }
  }
  &.btn-light{
    background: var(--light-grey2);
    border-color: var(--light-grey2);
    border-radius: 2px;
    color: var(--content);
    font-size: 0.85rem;
    padding: 0.51rem 1.56rem;
  }
  &.action-btn{
    background: transparent;
    border: 0;
    font-size: 1.14rem;
    color: var(--secondary);
    width: 30px;
    height: 30px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    border-radius: 50%;
    box-shadow: 0px 8px 40px 0px #31208A0D;
    &:hover{
      background: var(--white);
      
    }
  }
}

.mat-menu-item {
  height: auto !important;
  line-height: inherit !important;
  padding: 10px 16px !important;
}
