$font-family: 'gotham', sans-serif;
$font-family-second: 'Nunito Sans', sans-serif; 
$font-size-h1: 1.9rem !default;
$font-size-h2: 1.7rem !default;
$font-size-h3: 1.14rem !default;
$font-size-h4: 0.85rem !default;
$font-size-h5: 1.5rem !default;
$font-size-h6: 1.25rem !default;

:root {
    --primary: #BB0100;
    --secondary: #111111;
    --white: #ffffff;
    --black: #000000;
    --content: #666666;
    --red: #E91B1A;
    --grey: #C2C2C2;
    --grey2: #706A6A;
    --grey3: #585858;
    --grey4: #4F4F4F;
    --grey5: #7F7F7F;
    --dark: #282627;
    --light-grey2: #EDEDED;
    --swiper-navigation-size: 22px!important;
    --swiper-navigation-color: #282627;
    --light-white: #BFBFBF;
    --light-grey: #C4C4C4;
    --green: #5DBE6B;
    --dark2: #333333;
    --primary-hover: #6a0c0b;
    --light-grey3: #E7E6EF;
    --light-purple: #8A8FB9;
    --yellow: #FFC107;
    --border: #BCBDDB;
    --placeholder-light: #1518751A;
    --blue: #5E37FF;
    --orange: #FF9437;
    --brown: #57453B;
    --dark-green: #157911;
    --cream: #F5EEE1;
    --primary-dark: #9E0100;
    --light-white2: #f8f8f8;
    --grey6: #F2F2F2;
    --light-primary: #FE3F3F;
    --light-grey4: #a1a1a1;
}